form label {
  display: inline-block;
  width: 225px;
  font-weight: bold;
}
	
	body
	{		
		padding: 0;
		margin: 0;
		/*background-color: #549abc; OLDCOLOR*/
		background-color: black;
		/*background-image: url('Pictures/BGpic.jpg');*/
		background-repeat: repeat-x;
		color: #000;
		text-align: center;
	}
	A:link {color: white;}
	A:visited {color: white;}
	A:hover{color: yellow;}
	
	div.contentBox
	{
	    margin-top: 50px;
		margin-bottom: 50px;
		margin-right:auto;
		margin-left:auto;
		padding: 15px;
		width: 300px;
		height: 200px;
		border: 1px solid gray;
		color: #000;
		text-align: left;
		float: left;
	}
	
	div.wrapper
	{
		width: 600px;
	
	
	}
	
	
	#wrap{
		border-style: ridge;
		/*border-color: #cc9; OLD COLOR */
		border-color: Red;
		width: 780px;
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:40px;
/*		background: 	#dceef6;  OLD BACKGROUND*/
		background:   darkblue;
	}

	#Navigation{

		width: 780px;
		text-align: center;
		/*background-color: lightblue; OLD COLOR */
		background-color: darkred;
	}
	
	#main{
		float: left;
		width: 490px;
		
		text-align: left;
		padding-left: 10px;
		/*background-color: #dceef6; OLD COLOR */
		background-color: darkblue;
		
		}
		
	#sidebar{
		float: right;
		width: 250px;
		/*background: #dceef6; OLD COLOR */
		background: darkblue;
		text-align: left;
		padding-left: 10px;
		margin-right: 20px;
		}
		
     #footer{
     	clear: both;
     	/*background: #cc9; old color*/
		background: darkred;
     }
	
	
	div.right_box{
		margin-top: 50px;
		margin-bottom: 50px;

		float: right;
		padding: 10px;
		width: 290px;
		border: 1px solid gray;
    }
	
	
	#contents	
	{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right:auto;
		margin-left:auto;
		width: 600px;
		padding: 10px;
		background-color: #dceef6;
		color: #000;
		text-align: left;
	}
	
	
	textarea {
		background-color: #dceef6;
	}
	
		#contents2	
	{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right:auto;
		margin-left:auto;
		width: 600px;
		padding: 10px;
		background-color: #549abc;
		color: #dceef6;
		text-align: left;
	}
		
	
	h1	
	{
		/*color: #039; OLD COLOR */
		color: red;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 20px;
	}
	h2
	{
		color:red;
	}
	h3
	{
		color: red;
	}

	h4
	{
		color: red;
	}	

	h6
	{
		color: red;
	}
	
	label
	{
		color: darkred;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}
	
	
	p	
	{
		/*color: #039; OLD COLOR*/
		color: red;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}


	p.side	
	{
		color: #039;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.6em;
	}


	
	input
	{
		color: #039;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}

    #plain
	{
		color: #039;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
	}
	
	 #plain2
	{
		color: #039;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	input[type=text]
	{
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: white;
		color: black;
		width: 200px;
	}
	input[type=password]
	{
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: white;
		color: black;
		width: 200px;
	}
	input[type=file]
	{
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: white;
		color: black;
	}
	
	textarea
	{
		margin-top: 5px;
		margin-bottom: 5px;
		width: 200px;
		background-color: white;
	}
	
	input[type=submit]
	{
		background-color: lightblue;
		color: darkred;

	}
	
	input[type=button]
	{
		background-color: lightblue;
	}
	
	.comment
	{
		width: 475px;
	}
	
	fieldset.comment
	{
		width: 450px;
		border: 1px solid red;
		color: darkred;
		background-color: lightblue;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
	
	.reply
	{
		width: 425px;
		margin-top: 5px;
		margin-left: 56px;
	}
	
	fieldset.reply
	{
		width: 400px;
		border: 1px solid red;
		color: darkred;
		background-color: lightblue;
	}
	
	.uprank
	{
		border: 2px solid darkgreen;
		background-color: green;
		text-decoration: none;
		font-weight: bold;
		padding-left: 6px;
		padding-right: 6px;
	}
	
	a:hover.uprank {color: darkgreen;}
	
	.downrank
	{
		border: 2px solid darkred;
		background-color: red;
		text-decoration: none;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
	}
	
	a:hover.downrank {color: darkred;}
	
	.full-star {}
	.half-star {}
	.empty-star {}
    
table.report {
	border-width: thin;
	border-spacing: ;
	border-style: hidden;
	border-color: blue;
	border-collapse: separate;
	font-family: Arial, Helvetica, sans-serif;
	
}
th.report {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: blue;
	background-color: rgb(220, 238, 246);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	
}
td.report {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: blue;
	background-color: rgb(220, 238, 246);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	
}

#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #dceef6;;
	margin: 5px;
	width: 440px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}
